{% load i18n %}
{% load staticfiles %}
{% load polymerdep %}
{% load tz %}
<!DOCTYPE html>
<html lang="en">
<head>
   <script src="{% static 'materialdjango/components/bower_components/webcomponentsjs/webcomponents-lite.js' %}"></script>
    {% include 'material/includes/material_css.html' %}
    {{ "polymer/polymer.html"|dep }}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>{% block title %}ND Ratings{% endblock %}</title>
    <style>
	nav {
		background-color: #01579b;
	}
	.inner {
		padding: 10px;
	}
	{% block style %}{% endblock %}
    </style>
</head>

<body class="{% if user.is_authenticated %}grey lighten-5{% endif %}">
	<paper-header-panel class="flex">
	<paper-toolbar>
	    <nav style="margin-bottom:20px;" class="row">
  	    <div class="nav-wrapper col s10 offset-s1">
  	      <a href="/accounts/profs/profList" class="brand-logo">
			ND Ratings
	      </a>
              <a href="#" data-activates="sidebar" class="button-collapse"><i class="material-icons">menu</i></a>
  	      <ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a class="waves-effect" href="/accounts/profs/profList">All Professors</a></li>
			<li><a class="waves-effect" href="/accounts/profs/profSearch">Search</a></li>
			<li><a class="waves-effect" href="/accounts/profs/add_professor/">Add Professor</a></li>
		    {% if user.is_authenticated %}
			<li><a class="waves-effect" href="/accounts/logout/">Logout</a></li>
		    {% else %}
			<li><a class="waves-effect" href="/accounts/login/">Log in</a></li>
			<li><a class="waves-effect" href="/accounts/register/">Register</a></li>
		    {% endif %}
		    <li>
			<a class="waves-effect" href="https://github.com/dmattia/ND-Ratings"><i class="fa fa-github"></i></a>
		    </li>
  	      </ul>
  	      <ul id="sidebar" class="side-nav">
		    {% if user.is_authenticated %}
			<li><a class="waves-effect" href="/accounts/profs/profList">All Professors</a></li>
			<li><a class="waves-effect" href="/accounts/profs/profSearch">Search</a></li>
			<li><a class="waves-effect" href="/accounts/profs/add_professor/">Add Professor</a></li>
			<li><a class="waves-effect" href="/accounts/logout/">Logout</a></li>
		    {% else %}
			<li><a class="waves-effect" href="/accounts/login/">Log in</a></li>
			<li><a class="waves-effect" href="/accounts/register/">Register</a></li>
		    {% endif %}
		    <li>
			<a class="waves-effect" href="https://github.com/dmattia/ND-Ratings"><i class="fa fa-github"></i></a>
		    </li>
  	      </ul>
  	    </div>
  	  </nav>
	    </div>
	<paper-toolbar>

	    <div id="content" style="width:90%; -webkit-transform: translateX(5%);">
	    {% block content %}{% endblock %}
	    </div>

	    <div id="footer">
	    {% block footer %}{% endblock %}
	    </div>
	</paper-header-panel>
    	{% include 'material/includes/material_js.html' %}
	{% block scripts %}{% endblock %}
</body>

</html>
